﻿@model IEnumerable<IGrouping<AGLTest.Enums.GenderType,string>>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        @foreach (var item in Model)
        {
            <span><strong> @item.Key</strong></span><br/>
            <ul>
            @foreach (var item1 in item.OrderBy(a=>a))
            {
                <li> @item1</li>
            }
            </ul>
        }
    </div>
</body>
</html>
